<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}"
      th:with="bodyClass='h-screen flex items-center justify-center bg-yellow-50 font-mono'">

<head>
    <title>Nova Senha - Plataforma Darcy</title>
</head>

<body>
<div layout:fragment="content" class="w-full h-full flex items-center justify-center">
    <div class="max-w-sm w-full p-8 bg-white border-4 border-black shadow-hard relative">

        <div class="absolute -top-3 -right-3 bg-red-600 text-white p-2 border-2 border-black">
            <i data-lucide="lock" class="w-4 h-4"></i>
        </div>

        <h2 class="text-xl font-black uppercase mb-6">Definir Nova Senha</h2>

        <form th:action="@{/reset-password}" method="post" class="space-y-4">
            <input type="hidden" name="token" th:value="${token}">
            <div>
                <label class="block text-[10px] font-black uppercase">Nova Senha</label>
                <input type="password" name="senha" required class="w-full border-2 border-black p-2 outline-none focus:bg-yellow-100 font-bold">
            </div>
            <button type="submit" class="w-full bg-black text-white py-3 font-black uppercase hover:bg-gray-800 transition shadow-sm active:translate-y-1 active:shadow-none">
                Salvar e Entrar
            </button>
        </form>
    </div>
</div>
</body>
</html>